.img {
    width: 100px;
    margin-right: 40px
}.img:hover {
        
    animation-name: gift;
    animation-duration: 1.5s; 
    animation-iteration-count: 1;
}
@keyframes gift {

from {


}
to {
    rotate: -360deg;
    }
}

.header {
    background-color: rgb(191, 191, 191);
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(130, 130, 130);
}